.base-main {
    width: 100%;
}


.profile-info-container {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.form input,
.form label {
    width: 90%;
    display: block;
    text-align: center;
    margin: 10px auto;
}

.form input {
    padding: 8px 0;
    border-radius: 10px;
    border: 1px solid black;

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0px 0px 4px black;
    }
}

.form label {
    font-weight: bold;
    color: #4f772d;
    font-size: 1.1rem;

}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form button {
    width: 200px;
    text-align: center;
    padding: 5px 15px;
    outline: #4f772d;
    color: #4f772d;
    font-weight: bold;
    margin-top: 50px;
}

.headers {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #4f772d;
    box-shadow: 0px 0px 4px black;
    padding: 5px 0;
    margin: 25px 0;
}

@media(max-width:600px) {
    .button-box {
        flex-direction: column;
    }

    .form button {
        margin: 0px;
    }
}