<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/checkout.css'%}">
    <link rel="icon" type="images/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>LushLawns</title>
</head>
<body>
    <header>
    </header>
    <main>
        <h2>Shipping Information</h2>
        <!-- Form for customers to enter shipping info for their order-->
        <form class="info-form" action="">
            {% csrf_token %}
                
            <div class="form-box"><label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>{{ form.first_name }}</div>
            <div class="form-box"><label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>{{ form.last_name }} </div>
            <div class="form-box"><label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>{{ form.email }} </div>
            <div class="form-box"><label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>{{ form.phone_number }} </div>
            <div class="address-box">
                <div class="form-box street"><label for="{{ form.street.id_for_label }}">{{ form.street.label }}</label>{{ form.street }} </div>
                <div class="form-box">{{ form.state }} </div>
                <div class="form-box">{{ form.zipcode }} </div>
            </div>  

            <div class="card-box">
                <div class="form-box card"><label for="{{ form.card.id_for_label }}">{{ form.card.label }}</label>{{ form.card }} </div>
                <div class="form-box">{{ form.security_code }} </div>
                <div class="form-box">{{ form.expiration }} <small>{{ form.expiration.help_text }}</small></div>
            </div>

            <div class="button-box">
                <button type="button" class="back" onclick="history.back()">Cancel</button></a>
                <button type="submit">Complete Order</button>
            </div>
        </form> 
        <div class="order_total">
            <h2>Order total: ${{ price }}</h2>
        </div>
    </main>
    <footer>
    </footer>
    
</body>
</html>