<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/checkout.css'%}">
    <link rel="icon" type="images/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>LushLawns</title>
</head>
<body>
    <header>
    </header>
    <main>
        <!--Page Header-->
        <h2 class="page-header">Shipping Information</h2>

        <!--Displays messages for user-->
    {% with first_error_displayed=False %}
        {% for field in form %}
            {% if field.errors and not first_error_displayed %}
                <div class="alert" role="alert">
                    <h3> {{ field.errors.0 }}</h3>
                </div>
                {% with first_error_displayed=True %} 
                {% endwith %}
            {% endif %}
        {% endfor %}
    {% endwith %}

        <!-- Form for customers to enter shipping info for their order-->
        <form class="info-form" action="{% url 'checkout'%}" method="POST">
            {% csrf_token %}
            <div class="name-box">  
                <div class="form-box first_name"><label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>{{ form.first_name }}</div>
                <div class="form-box last_name"><label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>{{ form.last_name }} </div>
            </div>
            <div class="contact-box">
                <div class="form-box email"><label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>{{ form.email }} </div>
                <div class="form-box phone"><label for="{{ form.phone_number.id_for_label }}">Phone</label>{{ form.phone_number }} </div>
            </div>
            <div class="address-box">
                <div class="form-box street"><label for="{{ form.street.id_for_label }}">Address</label>{{ form.street }} </div>
                <div class="form-box">{{ form.state }} </div>
                <div class="form-box">{{ form.zipcode }} </div>
            </div>  

            <div class="card-box">
                <div class="form-box card"><label for="{{ form.card.id_for_label }}">Card Info</label>{{ form.card }} <small>{{ form.card.help_text }}</small> </div>
                <div class="form-box">{{ form.security_code }} <small>{{ form.security_code.help_text }}</small> </div>
                <div class="form-box">{{ form.expiration }} <small>{{ form.expiration.help_text }}</small></div>
            </div>

            <div class="button-box">
                <button type="submit">Complete Order</button>
                <a href="{% url 'cart_summary' %}"><button type="button" class="back">Cancel</button></a>
            </div>
        </form> 
        <div class="order_total">
            <h2>Order total: ${{ price }}</h2>
        </div>
    </main>
    <footer>
    </footer>
    
</body>
</html>