<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/order-success.css'%}">
    <link rel="icon" type="images/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>LushLawns</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div class="img-container">
            <img src="{% static 'images/Lawn-Mower.jpg' %}" alt="">
        </div>
        <div class="info-box">
            <h2>Order placed! Your parts will be on the way shortly!</h2>
            <h3>Your order ID: <span id="order-id">#432434324</span></h3>
            <small>Note: If you are making a purchase without an account keep track of this ID number until your order is complete.</small>
            <br>
            <a href="{%url 'home' %}"><button type='button'>Return to Homepage</button></a>
        </div>
    </main>
    <footer>
    </footer>
    
</body>
</html>