{% extends "webstore/base.html" %}
{% load static %}

{% block content %}
<!--Page specific stylings-->
<head>
    <link rel="stylesheet" href="{% static 'css/all-parts.css'%}">
</head>

<!--Top of All Parts page including back button and search bar-->
<section class="all-parts-top">
    <p><a href="{% url 'home' %}">&larr; Back</a></p>
    <form class="parts-search search-bar" action="">
        <div class="input-container">
            <input type="search" name="search" id="search" placeholder="Search by Model Number">
            <div class="label-container">
                <label for="search"><button type="submit"><span class="material-symbols-outlined">search</span></button></label>
            </div>
        </div>
    </form>
</section>

<!--Header text for all parts page-->
<section class="all-parts-header">
    <h2>Displaying All Available Parts</h2>
</section>

<!--Section for displaying parts available to buy-->
<section class="parts">
    {% for parts in parts  %}
        <div class="part-item">
            {% if parts.image %}
                <img class="part-item-img" src="{{ parts.image.url }}" alt="Image for Lawnmower part model {{ parts.part_number }}">
            {% else %}
                <img class="part-item-img" src="{% static 'images/Part-Img-Alt.png'%}" alt="Image for Lawnmower part model {{ parts.part_number }}">
            {% endif %}
            <div class="part-info">
                <p><span class="part-info-header">Part Name:</span><br>{{ parts.part_name }}</p>
                <p><span class="part-info-header">Part Number:</span><br>#{{ parts.part_number }} </p>
                <p><span class="part-info-header">Price:</span><br> ${{ parts.price }}</p>
                <a href="{% url 'part-info' parts.part_number %}"><button>View Part</button></a>
            </div>    
        </div>
    {% endfor %}
</section>

{% endblock content %}





