<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <script src="{% static 'js/base.js'%}"></script>
    
    <title>LushLawns</title>
</head>
<body>
    <!--header for entire webpage-->
    <header class="base-header">
        
        <!--Area above nav includes branding, search bar, and shopping cart symbol/button-->
        <div class="header-top">
            <h1 class="header-branding"><a href="{% url 'home' %}">Lush Lawns</a></h1>
            <form action="{% url 'search'%}" class="search-bar" role="search" method="POST" id="search">
                {% csrf_token %}
                <div class="input-container">
                    <input type="search" name="search" id="search" placeholder="Search by Model Number or Part Number">
                    <div class="label-container">
                        <label for="search"><button type="submit"><span class="material-symbols-outlined">search</span></button></label>
                    </div>
                </div>
            </form>
            
            <div class="header-top-links">
                <div class="menu-container">
                    <span class="material-symbols-outlined menu-symbol">menu</span>
                </div>
                <div class="shopping-cart">
                    <a href="{% url 'cart' %}">
                        <span class="material-symbols-outlined"><span class="cart">shopping_cart</span>  
                            <div class="item-counter">
                                <p class="count">12</p>
                            </div>
                        </span>
                    </a>
                </div>
                {% if user.is_authenticated %}
                    <div class="login-user logout-user"><a href="{% url 'logout' %}"><h2>Logout</h2></a></div>
                {% else %}
                    <div class="login-user logout-user"><a href="{% url 'login' %}"><h2>Log In</h2></a></div>
                {% endif %}
            </div>    
        </div>
        
        <!--Navbar includes all parts, all mower models, contact us, and about us--> 
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'all_parts' %}" class="nav-link">All Parts</a></li>
                <li class="nav-item"><a href="{% url 'all_models' %}" class="nav-link">All Mower Models</a></li>
                <li class="nav-item"><a href="#contact-info-container" class="nav-link">Contact Us</a></li>
                <li class="nav-item"><a href="{% url 'home' %}#about-us-header-text" class="nav-link">About Us</a></li>
            </ul>
        </nav>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert" role="alert">
                <h3> {{ message }}</h3>
            </div>
        {% endfor %}
    {% endif %}

    <!--Reserved section for main content of each individual page-->
    <main class="base-main">
        {% block content %}

        {% endblock content %}
    </main>

    <!--Footer for entire website-->
    <footer class="base-footer" id="base-footer">
        <div class="site-credits">
            <h2 class="creator">Created by Christopher Hicks</h2>
            <h3 class="web-images">Images from <a href="https://unsplash.com/">Unsplash.com</a></h3>
        </div>

        <div class="contact-info-container" id="contact-info-container">
            <h3 class="contact-info-header">Contact Information</h3>  
            <p><span>Phone Number:</span> <a href="tel:+7707729087">770-772-9087</a></p>
            <p><span>Email Address:</span> <a href="mailto:LushLawnsSupport@gmail.com">LushLawnsSupport@gmail.com</a></p>
            <p><span>Store Location:</span> <a href="https://www.google.com/maps/place/1414+Blue+Ridge+Dr+Covington,+Ga">1414 Blue Ridge Dr Covington, Ga</a></p>
        </div>
    </footer>
</body>
</html>