{% extends "webstore/base.html" %}
{% load static %}

{% block content %}
<!--Page specific stylings-->
<head>
    <link rel="stylesheet" href="{% static 'css/cart.css'%}">
</head>


 <section class="cart-page-header">
    <p><a href="#" class="back-button" onclick="history.back()">&larr; Back</a></p>
    <h2 class="cart-header-text">Your Cart</h2>
</section> 


<section class="cart-container">

    <!--Sidebar that displays breakdown of total cost-->
    <sidebar class="cost">
        <h2 class="cost-header-text">Your Order<br>Total</h2>
        <p>Subtotal: $20.00</p>
        <p>Shipping: $14.99</p>
        <p>Taxes: $7.00</p>
        <h2 class="cost-header-text">Total Cost</h2>
        <p>$20.00</p>
        <button type="button" id="checkout">Checkout</button>

    </sidebar>

    <!--Container for each item added to cart-->
    <div class="cart-item-container">
        <div class="cart-item">
            <img src="{%static 'images/Part-Img-Alt.png'%}" alt="">
            <div class="cart-item-info">
                <p class="item-info"><span class="item-info-header">Part Name<br></span>Mower Blade</p>
                <p class="item-info"><span class="item-info-header">Part Number<br></span>#435435667657</p>
                <p class="item-info"><span class="item-info-header">Price<br></span>$20.00</p>
            </div>
            <p class="quantity remove"><span class="quantity-text">Quantity: &nbsp;</span> 4 <span class="material-symbols-outlined x">close</span></p>
        </div>
        
    </div>    
</section>
{% endblock content %}

