{% extends "webstore/base.html" %}
{% load static %}

{% block content %}
<!--Page specific stylings-->
<head>
    <link rel="stylesheet" href="{% static 'css/change-password.css'%}">
</head>

 <!--Displays messages for user-->
    {% with first_error_displayed=False %}
        {% for field in form %}
            {% if field.errors and not first_error_displayed %}
                <div class="alert" role="alert">
                    <h3> {{ field.errors.0 }}</h3>
                </div>
                {% with first_error_displayed=True %} 
                {% endwith %}
            {% endif %}
        {% endfor %}
    {% endwith %}
<section class="profile-info-container">
   
    <h2 class="password-header headers">Change Password</h2>
    <form class="form passwordForm" action="{% url 'change-password' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag}}
        {{ field }}
        {% endfor %}
        <div class="button-box">
            <button type="submit">Save Changes</button>
            <button type="button" onclick='history.back()'>Back</button>
        </div>    
    </form>
</section>
{% endblock content %}