{% extends "webstore/base.html" %}
{% load static %}



{%block content %}
{% comment %} Page specific stylings {% endcomment %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>

    {% comment %} Large photo displayed on homepage {% endcomment %}
    <section class="home-background"><img src="{% static 'images/Lawn-Mower.jpg' %}" alt=""></section>
    
    {% comment %} About us section of homepage {% endcomment %}
    <section class="about-us-header-text" id="about-us-header-text"><h3>About Us</h3></section>
    <section class="about-us" id="about-us"> 
        <div class="about-header"><h2>Welcome to Lush Lawns  Mowing Parts!</h2>
            <h3>Let us tell you little about ourselves.</h3>
            <hr>
            <p class="about-msg">It all started when a group of guys who wanted to make some money while in college took a class together. All the guys cut lawns as kids to make a little money, 
                and we decided to open a small business that sells lawnmower parts and accessories for the most common lawnmowers in our area.
                We felt like something was still missing within our business. We decided to implement a website for our small business. This website will allow customers to purchase parts via the web.
            </p>
        </div>

        <div class="about-info">
            <div class="info-img-text">
                <img src="{% static 'images/about-img1.jpg'%}" alt="Lawnmower">
                <p>We have a large stock of lawnmower parts for the most common lawnmowers within our area. Our customers can choose based on the brands they love.</p>
            </div>

            <div class="info-img-text">
                <img src="{% static 'images/about-img2.jpg'%}" alt="Lawnmower">
                <p> We love to help people get parts for their lawnmower so, they can care for their lawn.
                    Lawn care is often overlooked or underestimated, but maintaining a well-kept lawn offers numerous benefits.
                    A healthy lawn not only enhances the curb appeal of your property but also provides a welcoming environment.
                </p>
            </div>
        </div>
    </section>

    {% comment %} shop by brand header text {% endcomment %}
    <section class="brand-options-header"><h3>Shop By Brand</h3></section>
    
    {% comment %} Section for displaying brands available to get parts from {% endcomment %}
    <section class="brand-options">
        {% for brand in brand  %}
                <div class="brand"><a href="{% url 'models' brand.name %}">
                    {% if brand.image %}
                        <img src="{{ brand.image.url }}" alt="Logo for {{ brand.name }} brand">
                    {% else %}
                        <img src="{% static 'images/Brand-Logo-Alt.png' %}" alt="Logo for {{ brand.name }} brand">
                    {% endif %}
                    <h3>{{ brand.name }}</h3>
                </a></div>   
        {% endfor %}
    </section>

{% endblock content %}