{% extends "webstore/base.html" %}
{% load static %}

{% block content %}
<!--Page specific stylings-->
<head>
    <link rel="stylesheet" href="{% static 'css/parts.css'%}">
</head>

<!--Top of parts page including back button and search bar-->
<section class="parts-top">
    <p><a href="#" onclick="history.back()">&larr; Back</a></p>
    <form class="parts-search search-bar" action="">
        <div class="input-container">
            <input type="search" name="search" id="search" placeholder="Search by Model Number">
            <div class="label-container">
                <label for="search"><button type="submit"><span class="material-symbols-outlined">search</span></button></label>
            </div>
        </div>
    </form>
</section>


<!--Header text for parts page-->
<section class="parts-header">
    {% if parts %}
        <h2>Displaying All Parts <br> For Model: #{{ model.model_number }}</h2>
    {% else %}
        <h2>No Parts Available <br> For Model: #{{ model.model_number }}</h2>
    {% endif %}

</section>


<!--Section of page that displays parts based on model clicked on by user-->
<section class="part-options">
    <div class="diagram"><img src="{%static 'images/Model-Diagram-Alt.png'%}" alt=""></div>
    <div class="part-selection">
    {% for part in parts %}    
       <div class="part-container">
            <ul class="part-info-list">
                <li class="part-info-item"><span>Part Name<br></span>{{part.part_name}}</li>
                <li class="part-info-item"><span>Part Number<br></span>#{{ part.part_number}}</li>
                <li class="part-info-item"><span>Price<br></span>${{ part.price }}</li>
                <li class="part-info-item"><a href="{% url 'part-info' part.part_number %}"><button type="button">View Part</button></a></li>
            </ul>
        
        
       </div>
    {% endfor %}   
    </div>
</section>

{% endblock content %}