{% extends "webstore/base.html" %}
{% load static %}

{% block content %}
{% comment %} Page specific stylings {% endcomment %}
<head>
    <link rel="stylesheet" href="{% static 'css/parts.css'%}">
</head>

{% comment %} Top of parts page including back button and search bar {% endcomment %}
<section class="parts-top">
    <p><a href="{% url 'home' %}">&larr; Back</a></p>
    <form class="parts-search search-bar" action="">
        <div class="input-container">
            <input type="search" name="search" id="search" placeholder="Search by Model Number">
            <div class="label-container">
                <label for="search"><button type="submit"><span class="material-symbols-outlined">search</span></button></label>
            </div>
        </div>
    </form>
</section>


{% comment %} Header text for parts page {% endcomment %}
<section class="parts-header">
    {% if parts %}
        <h2>Displaying All Parts <br> For Model: #{{ model.model_number }}</h2>
    {% else %}
        <h2>No Parts Available <br> For Model: #{{ model.model_number }}</h2>
    {% endif %}

</section>


{% comment %} Section of page that displays parts based on model clicked on by user {% endcomment %}
<section class="parts">
    {% for parts in parts %}
        <div class="part-item">
            {% if parts.image %}
                <img class="part-item-img" src="{{ parts.image.url }}" alt="Image for Lawnmower part model {{ parts.part_number }}">
            {% else %}
                <img class="part-item-img" src="{% static 'images/Part-Img-Alt.png'%}" alt="Image for Lawnmower part model {{ parts.part_number }}">
            {% endif %}    
            <div class="part-info">
                <p><span class="part-info-header">Part Name:</span><br>{{ model.brand }}</p>
                <p><span class="part-info-header">Model Number:</span><br>#{{ parts.part_number }} </p>
                <p><span class="part-info-header">Price:</span><br> ${{ parts.price }}</p>
                <button><a href="#">View Part</a></button>
            </div>    
        </div>
    {% endfor %}    
</section>

{% endblock content %}