<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
    <link rel="icon" type="images/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="{% static 'js/register.js'%}"></script>
    <title>LushLawns</title>
</head>
<body>
    <header></header>
    <!--Displays messages for user-->
    {% with first_error_displayed=False %}
        {% for field in form %}
            {% if field.errors and not first_error_displayed %}
                <div class="alert" role="alert">
                    <h3> {{ field.errors.0 }}</h3>
                </div>
                {% with first_error_displayed=True %} 
                {% endwith %}
            {% endif %}
        {% endfor %}
    {% endwith %}
    
   
    <main>
        <!--Form for handling user registration-->
        <form class="login-form" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            
            <div class="form-box"><label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>{{ form.first_name }} <small>{{ form.first_name.help_text }}</small></div>
            <div class="form-box"><label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>{{ form.last_name }} <small>{{ form.last_name.help_text }}</small></div>
            <div class="form-box"><label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>{{ form.email }} <small>{{ form.email.help_text }}</small></div>
            <div class="form-box"><label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>{{ form.username }} <small>{{ form.username.help_text }}</small></div>
            <div class="form-box"><label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>{{ form.password1 }} <small>{{ form.password1.help_text }}</small></div>
            <div class="form-box"><label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>{{ form.password2 }} <small>{{ form.password2.help_text }}</small></div>
            
            <div class="button-box form-box">
                <button type="button" class="back" onclick="history.back()">Cancel</button></a>
                <button type="submit">Register</button>
        </div>
        </form>
    </main>

    <footer></footer>
    
</body>
</html>